@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,900;1,200;1,300;1,400;1,900&display=swap");
html {
  font-size: 16px;
  box-sizing: border-box;
  max-width: 100% !important;
  overflow-x: hidden !important; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;
  background-color: #12141D;
  max-width: 100% !important; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #d5d5d5; }

img {
  width: 100%;
  height: auto; }

.button, .button--principal {
  background-color: none;
  border: none;
  color: white;
  position: relative;
  padding: .5em 1em;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
  border-radius: .2em;
  outline: none;
  width: auto; }

.button--principal {
  background: #3ccf91;
  background: linear-gradient(135deg, #6bd5a9 0%, #3ccf91 100%);
  border: none; }

.button--principal:hover {
  transform: translateY(-8px);
  transition: all .5s ease;
  background: linear-gradient(135deg, #366d56 0%, #3ccf91 100%);
  box-shadow: #3ccf91; }

.dropdown-menu {
  background-color: #0E0E0F;
  font-size: .8em;
  border: 1px solid #5757572f; }

.titulo {
  font-size: 1rem !important;
  color: #3ccf91;
  font-weight: bold;
  text-transform: uppercase; }

.titulo--header {
  font-size: 1.2rem !important;
  color: white; }

.subtitulo {
  font-size: 2rem !important;
  font-weight: bold;
  color: white; }

.parrafo {
  font-size: 1rem !important;
  color: #fff; }

h2 span {
  width: 30px;
  height: 2px;
  display: inline-block;
  background: #3ccf91;
  background: linear-gradient(135deg, #bfe4d5 0%, #3ccf91 100%);
  vertical-align: middle; }

a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, input[type="file"]:focus,
input[type="radio"]:focus, input[type="checkbox"]:focus, input:focus, textarea:focus {
  outline-offset: 0;
  outline: 0; }

.contenedor {
  width: 100%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1240px; }

.gs\:grid {
  display: flex;
  flex-wrap: wrap; }

[class*="col-"],
.columna {
  width: 100%;
  max-width: 100%;
  padding-left: 12px; }

.columna {
  flex: 1 0 0; }

.columna-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.columna-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.columna-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.columna-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.columna-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.columna-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.columna-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.columna-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.columna-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.columna-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.columna-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.columna-12 {
  flex: 0 0 100%;
  max-width: 100%; }

/*Menu*/
.navBar {
  position: fixed;
  z-index: 5;
  width: 100%;
  backdrop-filter: blur(5px);
  padding: 25px 0;
  transition: all 0.3s ease; }
  .navBar .navBar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: none;
    flex-direction: row; }
    .navBar .navBar__content .menu__list {
      height: 100%;
      margin-bottom: 0 !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: none;
      flex-direction: row; }
      .navBar .navBar__content .menu__list .menu__item {
        font-size: 1em;
        margin: 1em; }
        .navBar .navBar__content .menu__list .menu__item a:hover {
          color: #3ccf91;
          transition: all .5s ease; }
  .navBar .icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none; }
  .navBar .cancel__boton {
    position: absolute;
    right: 30px;
    top: 20px; }

.hero .inner__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.hero .hero__content {
  position: relative;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
  justify-content: center;
  align-items: center; }
  .hero .hero__content .content__subtitle {
    color: white;
    font-weight: lighter;
    font-size: 1.4em; }
  .hero .hero__content .type {
    color: #3ccf91;
    font-size: 4em; }
  .hero .hero__content .content__parrafo {
    font-size: 1.1em;
    color: white;
    font-size: 300; }
  .hero .hero__content .inner__content--left {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column; }
  .hero .hero__content .inner__content--right {
    display: flex;
    justify-content: center; }

.hero .button, .hero .button--principal {
  z-index: 0; }

.hero .hero__bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2em; }
  .hero .hero__bottom .social__group {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .hero .hero__bottom .social__group .social__element {
      margin-right: 1em; }
    .hero .hero__bottom .social__group .social__element a {
      color: #fff; }
    .hero .hero__bottom .social__group .social__element a:hover {
      color: #3ccf91;
      transition: .1s all ease-in-out; }

.dropdown-menu {
  background: #1E2029; }

.banner {
  height: auto;
  border-radius: 1em;
  padding: 2em;
  background-color: #1E2029; }
  .banner .banner__content--left {
    height: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: none;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right; }
    .banner .banner__content--left .text-white {
      font-weight: bold; }
    .banner .banner__content--left .autor {
      color: #3ccf91;
      font-weight: bold;
      font-style: italic; }
  .banner .banner__content--right {
    padding: 2em; }

/*Servicios*/
.servicios {
  margin-top: 2em; }
  .servicios .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; }
    .servicios .grid .card {
      padding: 20px;
      border-radius: 1em; }
    .servicios .grid .container__cards {
      margin-top: 3em;
      display: flex;
      flex-flow: row wrap; }
    .servicios .grid .card--servicio {
      box-shadow: none;
      background-color: #1E2029;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px); }
    .servicios .grid .icono {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: #f28c4c;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: bold;
      margin-bottom: 1em; }
    .servicios .grid .icono--2 {
      background-color: #4e30b7; }
    .servicios .grid .icono--3 {
      background-color: #adc941; }
    .servicios .grid .icono--4 {
      background-color: #1176e8; }
    .servicios .grid .icono--5 {
      background-color: #e9cb52; }
    .servicios .grid .icono--6 {
      background-color: #3a58c5; }
    .servicios .grid .card__text h5 {
      color: white;
      font-size: 1em;
      font-weight: lighter; }
    .servicios .grid .card__text h3 {
      color: white;
      font-weight: bold; }
    .servicios .grid .card__text p {
      color: #fff; }
    .servicios .grid .card__text a:hover {
      color: white;
      transition: .2s all ease-in; }

/*Testimonios*/
.testimonial {
  margin-top: 2em; }
  .testimonial #slider {
    margin-top: 2em; }
  .testimonial .img-area {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    overflow: hidden; }
  .testimonial .img-area img {
    width: 100%; }
  .testimonial .slider__content {
    text-align: left;
    padding: 40px;
    color: white;
    border-radius: 25px;
    background-color: #1E2029;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); }
    .testimonial .slider__content h2 {
      margin-top: 1em;
      font-size: 1.3em;
      font-weight: bold; }
    .testimonial .slider__content p {
      font-size: 1em;
      color: #fff; }
  .testimonial .socials {
    margin-top: 30px; }
    .testimonial .socials a {
      color: white;
      cursor: pointer;
      transition: all .3s ease; }
    .testimonial .socials a:hover {
      color: #3ccf91; }
  .testimonial .socials i {
    font-size: 20px;
    margin: 0 10px; }
  .testimonial .owl-dots {
    text-align: center; }
  .testimonial .owl-dot {
    display: inline-block;
    height: 10px !important;
    width: 10px !important;
    background-color: #ddd !important;
    opacity: .8;
    margin: 0 10px;
    border-radius: 50%; }
  .testimonial .owl-dot.active {
    background-color: white !important; }

.recursos {
  margin-top: 2em;
  height: 60vh;
  display: flex;
  align-items: center; }
  .recursos .recursos__inner .recurso__image {
    margin-top: 2em;
    width: 50px; }
  .recursos .recursos__inner .recurso__image:hover {
    transform: translateY(-8px);
    transition: all .5s ease; }
  .recursos .recursos__inner--right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }

.contacto {
  margin-top: 2em; }
  .contacto .contenedor__left {
    display: flex;
    align-items: center; }
  .contacto .textos___left {
    height: 100%; }
  .contacto .card {
    background: #1E2029;
    border-radius: 1em; }
    .contacto .card .formulario {
      height: 100%;
      padding: 2em; }
      .contacto .card .formulario .form-floating {
        margin-right: 1em; }
      .contacto .card .formulario .form-control {
        background: transparent;
        border: 0;
        outline: none;
        border-bottom: 1px solid white; }
      .contacto .card .formulario label, .contacto .card .formulario textarea {
        color: white;
        font-size: .7em; }
      .contacto .card .formulario input {
        color: white;
        margin-top: .3em; }
      .contacto .card .formulario input[type] {
        border-color: none;
        box-shadow: none; }

.footer {
  margin-top: 4em;
  border-top: 1px solid rgba(232, 232, 232, 0.083);
  box-shadow: rgba(232, 232, 232, 0.083); }
  .footer .footer__box {
    height: 100%; }
    .footer .footer__box .footer__content {
      margin-top: 3em;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px; }
      .footer .footer__box .footer__content ul {
        margin: 0;
        padding: 0; }
      .footer .footer__box .footer__content .footer__titulo {
        color: #3ccf91;
        font-weight: bold;
        margin-bottom: 1em; }
      .footer .footer__box .footer__content .menu__list a {
        color: #919191;
        font-weight: lighter;
        transition: all .3s ease; }
      .footer .footer__box .footer__content .menu__list a:hover {
        color: white; }
      .footer .footer__box .footer__content .menu__list li {
        color: #bdbdbd; }
      .footer .footer__box .footer__content .menu__list .fas {
        color: #3ccf91;
        margin-right: 1em; }
  .footer .footer__bottom {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: space-around;
    align-items: center; }
    .footer .footer__bottom .footer__derechos {
      color: white; }
      .footer .footer__bottom .footer__derechos .derechos__texto {
        font-size: .8em;
        font-weight: 600; }
    .footer .footer__bottom .footer__redes .social__group {
      display: flex;
      justify-content: flex-end; }
      .footer .footer__bottom .footer__redes .social__group .social__element {
        margin: 1em; }

/*Estilos diseno web*/
.titulo__desarrollo {
  text-align: center;
  color: white; }

.desarrollo__box {
  background-color: #1E2029;
  padding: 2em;
  color: #fff;
  border-left: 5px solid #3ccf91; }

.servicios__grupo {
  gap: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }

.inner__servicio {
  display: block;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  flex-direction: column; }
  .inner__servicio img {
    width: 40px;
    margin-bottom: 1em; }
  .inner__servicio p {
    color: #fff; }

.inner__servicio:hover {
  background-color: #1E2029;
  border-radius: 1em;
  transition: all .5s ease-in-out; }

.inner__servicio--how {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row; }
  .inner__servicio--how .servicio__icono {
    margin-right: 3em; }

.answers p {
  color: #fff; }

.answers .accordion-item {
  background: transparent;
  color: #8c8c8c; }

.answers .accordion-button {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid #5c5c5c;
  font-size: 1rem; }

.answers .accordion-button:focus {
  box-shadow: none;
  border-color: #5c5c5c; }

@media screen and (min-width: 578px) {
  .sm\:columna {
    flex: 1 0 0; }
  .sm\:columna-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .sm\:columna-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .sm\:columna-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .sm\:columna-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .sm\:columna-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .sm\:columna-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .sm\:columna-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .sm\:columna-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .sm\:columna-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .sm\:columna-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .sm\:columna-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .sm\:columna-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .hero__content {
    height: auto; } }

@media screen and (max-width: 770px) {
  .md\:columna {
    flex: 1 0 0; }
  .md\:columna-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .md\:columna-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .md\:columna-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .md\:columna-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .md\:columna-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .md\:columna-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .md\:columna-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .md\:columna-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .md\:columna-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .md\:columna-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .md\:columna-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .md\:columna-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  /*Configuracion body*/
  body {
    font-size: 14px; }
  body.disabledScroll {
    overflow: hidden !important; }
  .hero__content {
    height: auto; }
  .inner__content--right {
    display: none !important; }
  /*Menu*/
  .navBar .menu__list {
    position: fixed !important;
    top: 0;
    left: -100%;
    height: 100vh !important;
    width: 100%;
    background-color: #12141D;
    display: block !important;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease; }
  .navBar .menu__list.active {
    left: 0%; }
  .navBar .menu__list .menu__item {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
    padding: 0 2em; }
  .navBar .menu__list li a {
    font-size: 1.5em; }
  .dropdown-menu {
    font-size: .7em;
    padding: 0; }
  .navBar .navBar__content .menu__list .menu__item {
    margin: 0; }
  .icon {
    display: block !important; }
  .icon.hide {
    display: none !important; }
  /*header menu*/
  .header__content {
    height: auto;
    margin-top: 6em; }
  .type {
    font-size: 2.5em !important; }
  .hero__content .content__textStatic {
    font-size: 2.5em !important; }
  /*Configuracion banner*/
  .banner__content--left {
    text-align: left !important; }
  .banner__content--right {
    margin-top: -2em;
    text-align: left !important; }
  .recursos .recursos__inner .recurso__image {
    margin-top: 2em;
    width: 30px !important; }
  /*Footer*/
  .footer .footer__box .footer__content {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }
    .footer .footer__box .footer__content .footer__titulo {
      font-size: .9em; }
  .footer__derechos {
    text-align: center; } }
