.banner{
    height: auto;
    border-radius: 1em;
    padding: 2em;
    background-color: $backgroundSecundario;
    .banner__content--left{
        height: 100%;
        padding: 2em;
        @include caja-flex( center, none, wrap, column);
        text-align: right;
        .text-white{
            font-weight: bold;
        }
        .autor{
            color: $verdePrincipal;
            font-weight: bold;
            font-style: italic;
        }
    }
    .banner__content--right{
        padding: 2em;
    }
}