/*Estilos diseno web*/
.titulo__desarrollo{
    text-align: center;
    color: white;
}
.desarrollo__box{
    background-color: $backgroundSecundario;
    padding: 2em;
    color: $gris;
    border-left: 5px solid $verdePrincipal;
}

.servicios__grupo{
    gap: 3em;
    width: 100%;
    height: 100%;
    @include caja-flex(center, center, wrap, row);
}

.inner__servicio{
    margin-top: 4em;
    img{
        width: 40px;
        margin-bottom: 1em;
    }
    @include caja-flex(center, space-between, wrap, column);
    p{
        color: $gris;
    }
}