    /*Menu*/
    .navBar{
        position: fixed;
        z-index: 5;
        width: 100%;
        backdrop-filter: blur(5px);
        padding: 25px 0;
        transition: all 0.3s ease;
        .navBar__content{
            @include caja-flex(space-between, center, none, row);
            .menu__list{
                height: 100%;
                margin-bottom: 0 !important; 
                @include caja-flex(space-between, center, none, row);
                .menu__item{
                    font-size: 1em;
                    margin: 1em;
                    a:hover{
                        color: $verdePrincipal;
                        transition: all .5s ease;
                    }
                }
            }
        }
        .icon{
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            display: none;
        }
        .cancel__boton{
            position: absolute;
            right: 30px;
            top: 20px;
        }
    }
   

    .hero {

        .inner__content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        //Hero content
        .hero__content {
            position: relative;
            height: 90vh;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 2em;
            justify-content: center;
            align-items: center;

            .content__subtitle {
                color: white;
                font-weight: lighter;
                font-size: 1.4em;
            }
            
            .type{
                color: $verdePrincipal;
                font-size: 4em;
            }

            .content__parrafo {
                font-size: 1.1em;
                color: white;
                font-size: 300;
            }

            .inner__content--left {
                height: 100%;
                @include caja-flex(center, flex-start, wrap, column);
            }

            .inner__content--right {
                display: flex;
                justify-content: center;
            }
        }

        .button {
            z-index: 0;
        }

        .hero__bottom {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -2em;

            .social__group {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .social__element {
                    margin-right: 1em;
                }

                .social__element a {
                    color: #fff;
                }

                .social__element a:hover {
                    color: $verdePrincipal;
                    transition: .1s all ease-in-out;
                }
            }
        }
    }

    .dropdown-menu {
        background: $backgroundSecundario;
    }