.header {
    //Header menu & logo
    .header__nav {
        height: 5em;
        @include caja-flex(space-between, center, wrap, row);

        .logo__nav {
            font-size: 2em;
            a{
                color: white;
            }
        }
        .navigation__nav {
            height: 100%;
            margin: 0;
            @include caja-flex(space-between, center, wrap, row);
            .navigation__element {
                margin: 1em;
                font-size: 1em;
                a:hover {
                    color: white;
                    transition: all .8s ease;
                }
                .dropdown-menu .navigation__element a:hover{
                    color: #12141D !important;
                }
            }
         }
    }

//Header content
.header__content {
        min-height: 80vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2em;
        justify-content: center;
        align-items: center;

        .content__subtitle {
            color: white;
            font-weight: lighter;
            font-size: 1.4em;
        }

        .content__textStatic {
            color: #fff;
            font-size: 3.75em;
            font-weight: 400;
        }

        .content__textDynamic {
            padding: 0;
            height: 90px;
            line-height: 90px;
            overflow: hidden;

            li {
                color: $verdePrincipal;
                font-size: 3.5em;
                font-weight: 400;
                position: relative;
                top: 0;
                animation: slide 6s steps(4) infinite;

                span {
                    position: relative;
                }

                span::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: #12141D;
                    border-left: 4px solid #d3d3d3;
                    animation: typing 1.5s steps(12) infinite;
                }
            }
            @keyframes slide {
                100% {
                    top: -360px;
                }
            }

            @keyframes typing {
                100% {
                    left: 100%;
                    margin: 0 -35px 0 35px;
                }
            }
        }
        .content__parrafo {
            font-size: 1em;
            color: white;
            font-size: 400;
        }
        .inner__content--right{
            display: flex;
            justify-content: center;
        }
    }

    .header__bottom{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -2em;
            .social__group {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .social__element{
                    margin-right: 1em;
                }
                .social__element a {
                    color: #fff;
                }
                .social__element a:hover{
                    color: $verdePrincipal;
                    transition: .1s all ease-in-out;
                }
            }
    }
}
