//Responsive

@media screen and (min-width: 578px){
    @include grid-system(sm\:columna);
    .header__content{
        height: auto;
    }
    
}

@media screen and (max-width: 768px){

    @include grid-system(md\:columna);

    /*Configuracion body*/
    body{
        font-size: 14px;
    }
    /*Menu*/
    .boton__nav{
        display:flex !important;
    }

    .navigation__nav{
        flex-direction: column !important;
        justify-content: space-around !important;
        position: absolute !important;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: $backgroundSecundario;
        z-index: 1;
    }

    .navigation__nav.open{
        transform: translateX(0);
    }

    /*header menu*/
    .header__content{
        height: auto;
    }
    
    /*Configuracion banner*/
    .banner__content--left{
        text-align: center !important;
    }
    .banner__content--right{
        margin-top: -2em;
        text-align: center !important;
    }

    .recursos .recursos__inner .recurso__image {
        margin-top: 2em;
        width: 30px !important;
    }
 
    .footer{
        text-align: center;
        .right{
            text-align: center !important;
            padding-bottom: 1em;
        }
    }
    
}