<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Somos una agencia de diseño web y marketing digital, enfocados en apoyar a emprendedores o empresas que desean tener una presencia online.">   
    <meta name="keywords" content="diseño web, marketing, marketing digital, agencia digital, comunicacion, multimedia, desarrollo web, desarrollo de aplicaciones, html, css, photoshop, react">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Error 404</title>
</head>
<body>
    <header class="header contenedor">
        <nav class="header__nav">
            <div class="logo__nav">
                <a href="">Be</a>
            </div>
            <ul class="navigation__nav">
                <li class="navigation__element"><a href="#">Home</a></li>
                <li class="dropdown navigation__element"><a href="#Servicios" class="dropdown-toggle" data-bs-toggle="dropdown" role="button">Servicios</a>
                    <ul class="dropdown-menu">
                        <li class="navigation__element"><a href="">HTML/CSS</a></li>
                        <li class="navigation__element"><a href="">Wordpress</a></li>
                        <li class="navigation__element"><a href="">ECommerce</a></li>
                        <li class="navigation__element"><a href="">React js</a></li>
                        <li class="navigation__element"><a href="">SEM</a></li>
                        <li class="navigation__element"><a href="">Marketing</a></li>
                    </ul>
                </li>
                <li class="navigation__element"><a href="#Testimonios">Testimonios</a></li>
                <li class="navigation__element"><a href="#Nosotros">Nosotros</a></li>
                <li class="navigation__element"><a href="#Contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="header__content">
            <div class="inner__content">
                <div class="content__subtitle">Ups, al parecer esta sección se encuentra deshabilitada o no existe.</div>
                <div class="content__textStatic">404 NOT FOUND</div>
                <h5 class="content__parrafo"><strong>Tal vez quieras ver nuestros trabajos</strong></h5>
                <button class="mt-4 button button--principal">Volver al sitio</button>
            </div>
            <div class="inner__content--right">
            </div>
        </div>
    </header>

     <!--JQUERY-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--CDN lotties-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!--CDN Carousel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>