<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Somos una agencia de diseño web y marketing digital, enfocados en apoyar a emprendedores o empresas que desean tener una presencia online.">
    <meta name="keywords"
        content="diseño web, marketing, marketing digital, agencia digital, comunicacion, multimedia, desarrollo web, desarrollo de aplicaciones, html, css, photoshop, react">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>Black Brand - Agencia de Marketing</title>
</head>

<body>
    <header>
        <nav class="navBar">
            <div class="navBar__content contenedor">
                <div class="logo"><a href="#">Black Brand</a></div>
                <ul class="menu__list">
                    <div class="icon cancel__boton">
                        <i class="fas fa-times"></i>
                    </div>
                    <li class="menu__item"><a href="/">Home</a></li>
                    <li class="menu__item dropdown" ><a href="" class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="menu__item"><a  href="/views/disenoWeb.html">Desarrollo Web</a></li>
                            <li class="menu__item"><a  href="/views/eCommerce.html">E-Commerce</a></li>
                            <li class="menu__item"><a  href="/views/desarrolloApp.html">Desarrollo de Apps</a></li>
                            <li class="menu__item"><a  href="/views/sem.html">SEM</a></li>
                            <li class="menu__item"><a  href="/views/marketing.html">Marketing Digital</a></li>
                          </ul>
                    </li>
                    <li class="menu__item"><a href="/views/404.html">Portfolio</a></li>
                    <li class="menu__item"><a href="#testimonial">Testimonios</a></li>
                    <li class="menu__item"><a href="#contacto">Contacto</a></li>
                </ul>
                <div class="icon menu__boton">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>
    <!---->
    <section class="hero contenedor">
        <div class="hero__content">
            <div class="inner__content">
                <div class="content__textStatic" style="font-weight: 600;">Agencia de Marketing Digital</div>
                </h5>
                <h5 class="content__parrafo" style="font-weight: lighter;">Ya sea posicionar la marca, incrementar las ventas o fidelizar a los clientes, BlackBox desarrolla estrategias para Social Media, SEO y Digital Analytics.
                </h5>
                <button class="mt-4 button button--principal">Solicitar cotización</button>
                <div class="apoyo mt-4">
                    <h2 class="content__parrafo mt-2 mb-4"> <span></span> Nos apoyamos en</h5>
                    <div class="gs:grid">
                        <div class="sm:columna-2 md:columna-3 m-2">
                            <img src="/assets/images/marketing.png" alt="">
                        </div>
                        <div class="sm:columna-2 md:columna-3 m-2">
                            <img src="/assets/images/facebook.png" alt="">
                        </div>
                        <div class="sm:columna-2 md:columna-3 m-2">
                            <img src="/assets/images/instagram.png" alt="">
                        </div>
                        <div class="sm:columna-2 md:columna-3 m-2">
                            <img src="/assets/images/linkedin.png" alt="">
                        </div>
                        <div class="sm:columna-2 md:columna-3 m-2">
                            <img src="/assets/images/mailchimp-icon.png" alt="">
                        </div>
                        <div class="sm:columna-2 md:columna-3 m-2">
                            <img src="/assets/images/semrush.png" alt="">
                        </div>
                        <div class="sm:columna-2 md:columna-3 m-2">
                            <img src="/assets/images/google-analytics.png" alt="">
                        </div>
                        <div class="sm:columna-2 md:columna-3 m-2">
                            <img src="/assets/images/data-studio-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner__content--right">
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_thlkq8h9.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop autoplay></lottie-player>
            </div>
        </div>
        <div class="hero__bottom">
            <div class="m-4"></div>
            <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_7udbsx97.json"
                background="transparent" speed="1" style="width: 100px; height: 100px;" loop autoplay
                class="scroll-down"></lottie-player>
            <ul class="social__group">
                <li class="social__element"><a href=""><i class="fab fa-twitter"></i></a></li>
                <li class="social__element"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                <li class="social__element"><a href=""><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </section>
    <!---->
    <section class="desarrollo contenedor mt-4">
        <div class="titulo__desarrollo">
            <h2>Acerca del servicio</h2>
        </div>
        <div class="desarrollo__box mt-4 mb-4">
            <p>Creamos estrategias de marketing publicitaria para posicionarte en los primeros resultados de Google y atraemos nuevos clientes a tu empresa. Desarrollamos acciones en Redes Sociales como Facebook, Instagram y Linkedin, para mostrar tus productos o servicios a la audiencia indicada. Ingeniamos campañas publicitarias que enamoran y optimizamos el costo de adquisición para que cada vez te cueste menos generar un nuevo cliente.</p>
        </div>
        <div class="titulo__desarrollo mt-4 mb-4">
            <h2>Plan de trabajo</h2>
        </div>
        <div class="gs:grid servicios__grupo">
            <div class="sm:columna-4 md:columna-12 mt-4">
                <div class="inner__servicio">
                    <img src="/assets/images/icon-inmersion-01.svg" alt="">
                    <h2 class="titulo">Inmersión</h2>
                    <p>Para cada proyecto como primer paso realizamos una inmersión profunda en el proyecto para
                        entender las necesidades del cliente y los usuarios, alinear objetivos y expectativas.</p>
                </div>
            </div>
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio">
                    <img src="/assets/images/icon-estrategia-dark-01.svg">
                    <h2 class=" titulo">Estrategia</h2>
                    <p>Diseñamos, planificamos y organizamos una estrategia sólida para cada proyecto con la mira puesta
                        en los objetivos establecidos. Donde ponemos el ojo, ponemos la bala..</p>
                </div>
            </div>
        </div>
        <div class="gs:grid servicios__grupo">
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio">
                    <img src="/assets/images/icon-implementacion-dark-01.svg" alt="">
                    <h2 class="titulo">Implementación</h2>
                    <p>¡Manos a la obra! Es momento de llevar a cabo todo lo planificado. Investigación, diseño,
                        desarrollo, generación de contenido, nos preparamos para salir a la cancha.</p>
                </div>
            </div>
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio">
                    <img src="/assets/images/icon-analisis-01.svg">
                        <h2 class=" titulo">Análisis</h2>
                    <p>Medimos, medimos y medimos. Analizamos todas las métricas de lo implementado, elaboramos
                        hipótesis y conclusiones para poder re-diseñar y volver a implementar para estar en continua
                        mejora.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="comoLohacemos mt-4">
        <div class="titulo__desarrollo">
            <h2>¿Como lo hacemos?</h2>
        </div>
        <div class="gs:grid servicios__grupo mt-4">
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio inner__servicio--how">
                    <div class="servicio__icono">
                        <img src="/assets/images/icon-studio.svg">
                    </div>
                    <div class="servicios__texto">
                        <h2 class=" titulo">Analisis de Competidores</h2>
                        <p>Identificamos y analizamos los actores principales de tu mercado con el fin de contribuir a desarrollar una estrategia más competente.</p>
                    </div>
                </div>
            </div>
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio inner__servicio--how">
                    <div class="servicio__icono">
                        <img src="/assets/images/estrategia-icon.svg">
                    </div>
                    <div class="servicios__texto">
                        <h2 class=" titulo">Estrategia y Creatividad</h2>
                        <p>Ejecutamos acciones de marketing que tus clientes amarán y que generen resultados tangibles para tu negocio.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gs:grid servicios__grupo">
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio inner__servicio--how">
                    <div class="servicio__icono">
                        <img src="/assets/images/desarrollo-web.svg"">
                    </div>
                    <div class="servicios__texto">
                        <h2 class=" titulo">Diseño y Desarrollo Web</h2>
                        <p>Diseñamos y desarrollamos sitios webs y landings alineados con los objetivos definidos en la estrategia.</p>
                    </div>
                </div>
            </div>
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio inner__servicio--how">
                    <div class="servicio__icono">
                        <img src="/assets/images/publicidad-digital.svg">
                    </div>
                    <div class="servicios__texto">
                        <h2 class=" titulo">Publicidad Digital</h2>
                        <p>Google, Facebook, Linkedin, Instagram sitios en Internet. Damos con tu cliente para que tarde o temprano, te compre.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gs:grid servicios__grupo">
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio inner__servicio--how">
                    <div class="servicio__icono">
                        <img src="/assets/images/social-media.svg"">
                    </div>
                    <div class="servicios__texto">
                        <h2 class=" titulo">Social Media</h2>
                        <p>Posicionamos tu marca sin importar si tus clientes quieren entretenerse, aprender o interactuar con amigos.</p>
                    </div>
                </div>
            </div>
            <div class="sm:columna-4 md:columna-12">
                <div class="inner__servicio inner__servicio--how">
                    <div class="servicio__icono">
                        <img src="/assets/images/produccion-contenido.svg">
                    </div>
                    <div class="servicios__texto">
                        <h2 class=" titulo">Producción de Contenido</h2>
                        <p>Desarrollamos contenidos que generan empatía, ya sea textos optimizados para buscadores, videos o gráficas con onda.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="answers contenedor mt-4">
        <div class="titulo__desarrollo">
            <h2>Preguntas frecuentes</h2>
            <p>Respondemos algunas preguntas más comunes para que puedas dedicarle tiempo a tu proyecto.</p>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Cuánto necesito invertir en publicidad?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Depende de los objetivos de tus campañas. No todas las campañas persiguen los mismos objetivos, algunos desean generar ventas, otros clientes para luego vender o posicionamiento de marca. También depende de la industria a la que pertenezca tu empresa. En fin, casa caso es particular.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Cuánto tardo en ver resultados?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Con nuestras campañas, nuestros clientes logran excelentes resultados dentro de los primeros 90 días. No obstante, lo bueno de hacer publicidad digital es que ni bien la campaña comienza funcionar, los anuncios se mostrarán a los usuarios desde el primer minuto.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Hacen sitios del tipo E-Commerce?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Si, obvio! Diseñamos y desarrollamos todo tipo de plataformas online, desde sitios institucionales, landing pages, E-Commerce, páginas de descarga, etc.
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Hacen posteos en redes sociales?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Si, creamos estrategias de comunicación para redes sociales y planificamos los posteos.
                </div>
                </div>
              </div>
          <button class="mt-4 button button--principal">Quiero que me llamen</button>
    </section>

    <!--Footer-->
    <footer id="footer" class="footer">
        <div class="gs:grid footer__contenido contenedor">
            <div class="sm:columna-3 md:columna-12">
                <div class="footer__servicios">
                    <h1 class="titulo titulo--footer">TE AYUDAMOS CON</h1>
                    <ul>
                        <li class="navigation__element navigation__element--footer"><a href="">Diseño y desarrollo web</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Desarrollo de Apps</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Tiendas online</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Marketing digital</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Posicionamiento online</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Contenidos multimedia</a></li>
                    </ul>
                </div>
            </div>
            <div class="sm:columna-3 md:columna-12" >
                <div class="footer__servicios ">
                    <h1 class="titulo titulo--footer">CONOCENOS</h1>
                    <ul>
                        <li class="navigation__element navigation__element--footer"><a href="">Inicio</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Servicios</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Testimonios</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Casos de estudio</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Contacto</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">Cotizar proyecto</a></li>
                    </ul>
                </div>
            </div>
            <div class="sm:columna-3 md:columna-12">
                <div class="footer__servicios">
                    <h1 class="titulo titulo--footer">CONTACTO</h1>
                    <ul>
                        <li class="navigation__element navigation__element--footer"><strong>Tucumán, Argentina</strong></li>
                        <li class="navigation__element navigation__element--footer"><a href=""></a>+15 (3865) 441043</a></li>
                        <li class="navigation__element navigation__element--footer"><a href="">hola@blackbrand.agency</a></li>
                    </ul>
                </div>
            </div>
            <div class="sm:columna-3 md:columna-12">
                <div class="footer__servicios">
                    <h1 class="titulo titulo--footer">REDES SOCIALES</h1>
                    <ul class="footer__redes">
                         <li class="social__element"><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                         <li class="social__element"><a href="#"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                         <li class="social__element"><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="contenedor">
                <div class="gs:grid content__footerBottom ">
                    <div class="sm:columna-6 md:columna-12 footer__texto">
                        <span class="footer__derechos">Todos los derechos reservados a Black Brand - 2020</span>
                    </div>
                    <div class="sm:columna-6 md:columna-12 footer__boton" >
                        <button class="button button--principal">¡Suscribite al Newsletter!</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--JQUERY-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--CDN lotties-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!--CDN Carousel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>